/*========================header=============================================*/
header {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    border-bottom: 3px dotted dodgerblue;
    background-image: url(images/HeaderImage.jpeg);
    background-position: center;
    background-size:cover;
    background-color: rgba(255, 255, 255, 0.5);
    a {
      text-decoration: none;
      margin-left: 5%;
      margin-right:5%;
      color: white;
      size: 2em;
    }
    #darkshade {
      background-color: rgba(128, 128, 128, 0.625);
      height: 2em;
      padding: 1em;

    }
    a:hover {
      text-decoration: underline;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      border: 2px solid rgba(255, 255, 255, 0.125);
      padding: 1em;
    }
}

/*========================common tools=======================================*/
.mainPoint {
    border: 5px solid dodgerblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
}
.glassMorph {
  backdrop-filter: blur(16px) saturate(180%);
  padding: 0.5em;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
}
/*===========================overall=======================================*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCCC00;
  border-radius: 10px;
}

body {
  background-color: lightyellow;
  font-family: 'Abel'; font-size: 22px;
}
/*===========================Specifics======================================*/