/*========================header=============================================*/
header {
    display: inline-block;
    background-color: yellow;
    text-align: center;
    width: 100%;
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 3px dotted dodgerblue;
    a {
      text-decoration: none;
      margin-left: 5%;
      margin-right:5%;
    }
    a:hover {
      text-decoration: underline;
      background-color: #CCCC00;
      border-radius: 10px;
    }
}

/*========================common tools=======================================*/
.mainPoint {
    border: 5px solid dodgerblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 40px;
}

/*===========================overall=======================================*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCCC00;
  border-radius: 10px;
}

body {
  background-color: lightyellow;
  font-family: 'Abel'; font-size: 22px;
}