/*========================header=============================================*/
header {
    display: inline;
    background-color: yellow;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      background-color: #CCCC00;
      border-radius: 10px;
    }
}

/*========================common tools=======================================*/
.mainPoint {
    border: 5px solid dodgerblue;
    border-radius: 10px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

/*===========================overall=======================================*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCCC00;
  border-radius: 10px;
}

body {
  background-color: lightyellow;
}